/*body {*/
    /*background-color: transparent;*/
            /*!*#fafafa;*!*/
/*}*/
.form-signin input[type="text"] {
    margin-bottom: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.vertical-offset-100 {
    padding-top: 50px;
}

.panel {
    /*padding: 20px;*/
    background-color:#ffffff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

/*profile
*/
*{
    font-family: 'Open Sans', sans-serif;
}
.details
{

    height: 300px;
    background-size: cover;
}
.header{
    color : #000000;
    margin-top:30px;
    margin-left:30%;

}
.image{
    height:150px;
    width:150px;
    top: 35px;
    /*left:-5px;*/
    position:absolute;
}







